<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>KNOWARTH Technologies - Open Source Projects</title>
<link href="css/bootstrap.css" type="text/css"  rel="stylesheet" />
<link href="css/style.css" type="text/css"  rel="stylesheet" />
<style type="text/css">
.topMar22{ margin-top: 22px;}
</style>
</head>


<body><header class="main_header">
  <div class="container headwrap"> <a data-target=".nav-collapse" data-toggle="collapse" class="btn-navbar"> </a> <a href="http://www.knowarth.com" class="logo"><img src="img/logo.png" /></a>
    <nav class="main_nav">
        <ul class="clearfix">
          <li><a href="http://www.knowarth.com/company-overview"><i><img src="img/icon-who.png" /></i><span>Who we are</span></a></li>
          <li><a href="http://www.knowarth.com/what-we-do"><i><img src="img/icon-what.png" /></i><span>What We Do</span></a></li>
          <li><a href="http://www.knowarth.com/contact-us"><i><img src="img/icon-how.png" /></i><span>Contact Us</span></a></li>
    </ul>
      </nav>
  </div>
</header>

<div class="container topMar22">
  <div class="row-fluid page-hero-unit">
        <h2 class="page-title">Open Source Projects</h2>        
        <div class="breadcrumbs">
          <p>You are Here</p>
            <ul>
              <li><a href="http://www.knowarth.com/"><span>Home</span></a></li>
              <li><span>Open Source Projects</span></li>
            </ul>
        </div>        
    </div>          
</div>


<div class="container content_area">
  <div class="row-fluid">
     <div class="span9">
      <div class="row-fluid inner_content">
          <table class="table table-striped table-hover ">
            <tbody class="repos">
                
            </tbody>
          </table>
            
      </div>
    </div>
    <aside class="span3 sidebar">
         <div class="sidebar-nav clearfix">
            <div class="s-head clearfix">
              <h4 class="repos-count"></h4>
            </div>            
            <div class="s-head clearfix">
              <h4>Members (1)</h4>
            </div> 
        </div>
    </aside>
    </div>
</div>



<footer class="footer ft-toggle">
	<div class="container">
    	<div class="row-fluid">
        	<div class="span2">
                <ul>
                    <li>Who we are</li>                         
                    <li><a href="http://www.knowarth.com/company-overview">Company Overview</a></li>                    
                    <li><a href="http://www.knowarth.com/vision-mission">Vision & Mission</a></li>
                  <li><a href="http://www.knowarth.com/core-values">Values</a></li>
                  <li><a href="http://www.knowarth.com/executive-team">Team</a></li>              
                </ul>
            </div>
            <div class="span2">
                <ul>
                    <li>What we do</li>
                    <li><a href="http://www.knowarth.com/custom-development">Custom Development</a></li>                    
                    <li><a href="http://www.knowarth.com/ui-ux-design-development">UI/UX Design & Development</a></li>
                  <li><a href="http://www.knowarth.com/cloud-infrastructure-management">Cloud Infrastructure & Management</a></li>
                  <li><a href="http://www.knowarth.com/support-maintenance">Support & Maintenance</a></li>
                </ul>
            </div>           
            <div class="span2">
            	<ul>                    
                    <li><a href="http://www.knowarth.com/career"><strong>Career</strong></a></li>
                  <li><a href="http://www.knowarth.com/contact-us"><strong>Contact us</strong></a></li>                                       
               </ul>
            </div>
            
            <div class="span3 offset1">
            	<div class="footer-right">
                    <div class="social clearfix">
                        <a href=" https://www.facebook.com/knowarth" class="fb"></a>
                        <a href="https://twitter.com/KNOWARTH" class="twit"></a>
                        <a href="http://www.linkedin.com/company/knowarth-technologies" class="linkedin"></a>                       
                    </div>                    
                </div>
                
            </div>            
        </div>
    </div>
</footer>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/underscore-min.js"></script>
<script type="text/html" id="repo-template">
<tr>
  <td width="30%" class="prj-name"><a href="https://github.com/knowarth-technologies/<%= name %>">
          <%= name %>
        </a>
  </td>
  <td width="55%" class="prj-desc"><%= description %></td>
  <td><i class="icon-star"></i> <%= stargazers_count %></td>
  <td><%= language %></td>
</tr>
</script>
<script type="text/javascript">
  handleResponse = function(response){    
    var repoTemplate = $('#repo-template').html();
    $.each(response, function(i, e){
      console.log(e);
      $('tbody.repos').append(_.template(repoTemplate, e));
    })
    $('.repos-count').append("REPOSITORIES ("+response.length + ")");
    console.log(commits);
    
  }
  $.get('https://api.github.com/orgs/knowarth-technologies/repos', handleResponse);
</script>

</body>
</html>
